body{
    margin:0;
    padding:0;
    font-family:'Roboto',sans-serif;
    }
/*first slide*/
.first{
    height:585;
    background-color:#1F2937;
    color:#F9FAF8;
}
.first .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    height:60px;
}
.header h3{
    font-size:24px;
  }
  
.link{
    display:flex;
    gap:20px;
}
.link div,
.subhead{
    font-size:18px;
    color: #c1c5cb;
}
.first .main{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:500px;
    padding: 0 200;
    gap:200px;
}
.main h1{
    font-size:48px;
    font-weight:900px;
}
.submit{
    display:flex;
    width:100px;
    height:30px;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.submit a{
    color:white;
    font-weight: bolder;
    text-decoration: none;
} 
.submit a:hover{
    color:rgb(207, 207, 207);
    font-weight: bolder;
    text-decoration: underline;
}

/*second slide*/
h2{
    text-align: center;
    color:#1F2937;
    font-size:36px;
    font-weight:900;
}
.images div{
  border: 5px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius:20px;
  box-sizing: border-box;
  overflow:hidden;
}
.images{
    display:flex;
    justify-content: space-around;
    align-items:start;
    height:200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
}
.subtext{
    display:flex;
    padding:5px 200px;
    justify-content: space-around;
    font-size:18px;
    font-weight:200;
    align-items: start;
    height:100px;
}
.subtext div p{
    text-align: center;
    font-family:'Roboto';
    color:#3f4246;
    font-size:15px;
    font-weight: 400;
    width:200px;
}
.quote{
    padding:0 200px;
    margin:120px 0px;
    height:400;
    background-color:#E5E7EB;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:30px;
}
.quote em{
    font-size:36px;
    text-align: center;
    font-weight:100;
}
.author{
    display:flex;
    justify-content: end;
}
.author strong{
    font-size:24px;
    font-weight:400px;
}
.call {
    background-color: #3882f6;
    margin: 10px 200px 120px 200px;
    border-radius:10px;
    height:150px;
    display:flex;
    justify-content: space-evenly;
    padding:10px 20px;
    align-items: center;
}
.tekt strong {
    color: #E5E7EB;
    font-size: 28px;
    margin: 0;            
    padding: 0;
      
}

.tekt p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 5px 0 0 0;     
    padding: 0;
   
}
.buton{
    height:40px;
    width:150px;
    border-radius:5px;
    border:3px solid whitesmoke;
    box-sizing:border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}
.buton div{
    font-size: 18px;
    color:whitesmoke;
}
.copy{
    background-color: #1F2937;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.copy p{
    font: size 24px;
    color:whitesmoke;
}
